.blog-navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  .previous-blog,
  .next-blog {
    cursor: pointer;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .arrow {
      display: flex;
      justify-content: center;
      align-items: right;
      img {
        margin: 0 0px;
        width: 18px;
        height: 18px;
      }
      span {
        font-size: 14px;
      }
    }
    .title {
      font-size: 12px;
      margin-top: 6px;
      text-transform: uppercase;
    }
  }
  .previous-blog {
    text-align: left;
    align-items: flex-start;
    img {
      transform: rotate(180deg);
    }
  }
}
