$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.readers-favorite {
  text-align: center;
  padding: 40px 0;
  margin-bottom: 40px;
  border-bottom: 1px solid $primaryColor;
  h4 {
    font-weight: 400;
    color: $primaryColor;
  }
  .fav-posts {
    display: grid;
    grid-row-gap: 1px;
    grid-column-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-items: center;
    .fav-post {
      img {
        width: 100%;
        height: 100px;
      }
    }
  }
}
