$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.podcastpage {
  padding-top: 30px;
  padding-left: 5%;
  @include smartphone() {
    padding: 0;
  }
  .left-right {
    display: flex;
    justify-content: space-between;
    .left {
      width: 70vw;
      // @include tablet() {
      //   width: 50vw;
      // }
      @include smartphone() {
        width: 90vw;
        margin: auto;
        padding: 0 10px;
      }
    }
    .right {
      width: 25vw;
      padding-right: 5%;

      @include smartphone() {
        display: none;
      }
    }
  }
}
