$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.player {
  width: 100%;
  .player__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background: transparent;
  }
  .play_pause__button {
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .play__pause {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .podcast__title {
      font-size: 15px;
      font-weight: 400;
    }
  }
  .controls {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .play__button {
    width: 100%;
    background-color: transparent;
    border: none;
    img {
      height: 100px;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .player__button {
    width: 20px;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .bar {
    user-select: none;
    width: 100%;
    .bar-footer {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      .bar__time {
        color: $primaryColor;
        font-size: 16px;
      }
    }

    .bar__progress {
      flex: 1;
      border-radius: 5px;
      margin: 0 20px;
      height: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: 1px solid $primaryColor;
      padding: 2px 0;
      background-color: darken($color: $secondaryColor, $amount: 60);

      .bar__progress__knob {
        position: relative;
        height: 20px;
        width: 8px;
        border: 1.5px solid $primaryColor;
        border-radius: 10px;
        background-color: transparent;
      }
    }
  }
}
