$tablet: 850px;
$smartphone: 600px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.forum-page {
  margin-top: 50px;
  .left-right {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    .left {
      width: 70vw;
      // margin-left: 5%;
      @include smartphone() {
        width: 100%;
        margin: 0;
        padding: 0 10px;
      }
    }
    .right {
      width: 25vw;
      padding-left: 5%;
      @include smartphone() {
        display: none;
      }
    }
  }
}
