* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
span,
li,
img {
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
p,
span {
  line-height: 1.6;
  font-weight: 400;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 15px;
}
span {
  font-size: 16px;
}
h1 {
  font-size: 3.1em;
  letter-spacing: 5px;
}
h2 {
  font-size: 2.4em;
  line-height: 1.1;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
  letter-spacing: 0.6px;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 0.9em;
  letter-spacing: 1px;
}

a,
button {
  /* font-family: 'Montserrat', sans-serif; */
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
li {
  list-style: none;
}
a {
  font-size: 15px;
  outline: none;
}
.container {
  width: 90%;
  margin: auto;
}
.wrapper {
  min-height: 80vh;
  /* margin-bottom: -50px; */
}
.App {
  text-align: center;
}
