$tablet: 850px;
$smartphone: 500px;
$primaryColor: #77323b;
$blackColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.homepage {
  @include smartphone() {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  .check-latest{
      display: none;
      color: $primaryColor;
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 20px;
      
      @include smartphone(){
        display: block;
      }
    }
}
