$tablet: 850px;
$smartphone: 500px;
$primaryColor: #000000;
$secondaryColor: #ffffff;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .promo {
    width: 80%;
    color: $secondaryColor;
    text-align: center;
    margin: 40px 0;
    background-position: center;
    background-size: cover;
    color: darken($color: $secondaryColor, $amount: 20);
    h2 {
      font-weight: 600;
    }
    h3 {
      margin: 10px 0;
    }
    @include smartphone() {
      width: 90%;
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 16px;
      }
      h4 {
        font-size: 14px;
      }
    }

    .count {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    img {
      width: 100%;
    }
  }

  .follow-on-insta {
    color: $secondaryColor;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      font-weight: 700;
      letter-spacing: 3px;
      font-size: 28px;
      color: darken($color: $secondaryColor, $amount: 20);
      margin: 20px 0px;

      @include smartphone() {
        font-size: 22px;
      }
    }

    .btn {
      min-width: 165px;
      width: auto;
      height: 45px;
      letter-spacing: 1px;
      line-height: 45px;
      padding: 0 35px;
      font-size: 15px;
      background-color: transparent;
      color: darken($color: $secondaryColor, $amount: 20);
      text-transform: uppercase;
      font-weight: 600;
      border: 1px solid darken($color: $secondaryColor, $amount: 20);
      cursor: pointer;
      display: flex;
      justify-content: center;

      &:hover {
        background-color: transparent;
        color: $secondaryColor;
        font-weight: 700;
        border: 1px solid $secondaryColor;
      }
    }
  }
}
