.post-page {
  text-align: left;
  min-height: 100%;
  .full-blog {
    .title {
      font-size: 25px;
      line-height: 35px;
      font-weight: 500;
      margin: 20px 0;
    }
    .full-blog-image {
      height: 500px;
      img {
        // width: 400px;
        height: 400px;
        margin-bottom: 20px;
      }
    }
    .blog-content {
      margin-bottom: 50px;
      p {
        font-weight: 300;
        margin: 15px 0;
      }
    }
  }
}
